@font-face {
    font-family: Minecraft;
    src: url("/fonts/Minecraft.ttf");
}

* {
    font-family: Minecraft;
    margin:0;
    padding:0;
}

body {
    background-color: black;
    height: 100vh;
}

a, a:visited{
    color: white;
    text-decoration: none;
    transition: ease-in-out 1s
}

a:hover, a:active {
   color: rgb(47, 255, 47);
    
}

a.black, a.black:visited{
    color: black;
}
a.black:hover{
    opacity: 70%;
}

.center{
    display: grid;
    place-items: center;
}

.content{
    display: flex;
    margin: 1em 0;
    width: 20em;
}

.title{
    background-color: white;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
    border-radius: 5px;
    transition: ease-in-out 1s;
}

img.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: ease-in-out 1s;

}

ul.list {
    color:white;
    list-style-type: square;
    margin-left: 20px;
}
ul > li{
    padding-bottom: 5px;
}

/* FOR BIGGER SCREENS TO AVOID ZOOMING IN */
@media screen and (min-width: 400px) {
    .content{
        font-size: 2vw;
        width: 50vw;
    }
    .title{
        width: 20vw;
    }
    img.profile{
        width: 10vw;
        height: 10vw;
    }
    ul.list{
        margin-left: 2vw;
    }
}

/* FOR SMALL SCREEN */
@media screen and (max-width: 330px) {
    .content{
        display: block;
        width: fit-content;
    }
    .title{
        width: 130px;
        font-size: 10px;
        margin-left: 3vw;
    }
    ul.list{
        margin-top: 1em;
    }
}


/* BG particle */
#particles-js{
    top:0;
    position: fixed;
    z-index: -1;
    background:#000;
    overflow: hidden;
    min-width: 100em;
}
