* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0%;
    background-color: rgb(22, 155, 38);

}

.nav {
    display: flex;
    background-color: black;
    color: white;
    padding-right:0.5em;
    bottom: 0%;
    position: fixed;
    width: 100%;
}

.nav>* {
    padding: 7px 7px;

}

.nav>a, a:visited {
    color: white;
}

.nav>a:active {
    opacity: 70%;
}

.nav>*:hover {
    background-color: rgb(56, 56, 56);
}
.nohover:hover{
    background-color: black;
}

.right {
    margin-right: 0.8em;
    margin-left: auto;
}


.icons {
    display: flex;
    flex-flow: column wrap;
    width: max-content;
    margin-left: 1em;
    margin-top: 1em;
    max-height: 75vh;

}

.icons>*:hover, .icons>*:focus {
    background-color: rgba(106, 106, 106, 0.2);
    border-width: 1px;
    border-style: dotted;
    border-color:  rgba(0, 0, 0, 0.447);
    border-radius: 10%;
    margin: -1px -1px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-color: rgba(240, 248, 255, 0);
    border-style: none;
    text-decoration: none;
}

.icon>label {
    color: white;
    font-size: small;
    text-align: center;
}


.nojs {
    text-align: center;
    background-color: red;
    display: block;
    color: white;

}

.colorpick{
    z-index: 3;
    border: 0ch;
    background-color: rgba(51, 255, 0, 0);
}